[submodule "vim/colors/vim-colors-solarized"]
	path = vim/colors/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "vim/pack/git-plugins/start/ale"]
	path = vim/pack/git-plugins/start/ale
	url = git@github.com:dense-analysis/ale.git
